 .header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1440px;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: #212121;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    z-index: 1000;
 }
 .list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
 }
 .li_header {
    color: #FFFFFF;
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
    list-style: none;
    text-decoration: none;
 }
 li {
    list-style-type: none;
 }